<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="~/Student_Template/css/style.css">

	<title>@ViewBag.Title</title>
</head>
<body>

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">STUDENT - BTEC</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="~/Home/Page_Home">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Home Page</span>
				</a>
			</li>
			<li >
				<a href="~/Home/Dangky">
					<i class='bx bxs-shopping-bag-alt'></i>
					<span class="text">Register Re-Exam</span>
				</a>
			</li>
			
			<li>
				<a href="#">
					<i class='bx bxs-message-dots'></i>
					<span class="text">Send Email</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group'></i>
					<span class="text">Student</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog'></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="~/User/Login" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text" >Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- SIDEBAR -->
	@RenderBody();


	
	<script src="~/Student_Template/js/script.js"></script>
</body>
</html>
